@import "vars";

/* Basic */
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #121212;
}

body {
  margin: 0;
  font-family: "Inconsolata";
  height: 100%;
  color: #e0e0e0;
  background: #121212;
}

a {
  text-decoration: none;
  color: $accent;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Navbar */
#author-name {
  font-size: 30px;
  color: #e0e0e0;
  display: inline-block;
}

.navbar {
  padding: 50px 0;
  background: #1e1e1e;
}

.navbar-ul {
  display: inline-block;
  margin: 0;
  padding: 5px 0;
  margin-left: 20px;
}

.nav-list {
  list-style-type: none;
  margin: 0 5px 0 10px;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  background: #1e1e1e;
  color: #e0e0e0;
}

thead {
  background: #292929;
}

td, th {
  padding: 10px;
  border: 1px solid #3a3a3a;
}

/* Markdown Elements */
blockquote {
  border-left: 4px solid #81a2be;
  padding: 10px 20px;
  background: #1e1e1e;
}

pre {
  background: #2d2d2d;
  color: #ccc;
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
}

code {
  font-family: "Fira Code", monospace;
  background: #272727;
  color: #f8f8f2;
  padding: 2px 5px;
  border-radius: 3px;
}

pre code {
  background: none;
  padding: 0;
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: #7C7C7C;
}

.token.punctuation {
  color: #c5c8c6;
}

.token.property, .token.tag, .token.constant, .token.symbol, .token.deleted {
  color: #cc6666;
}

.token.boolean, .token.number {
  color: #de935f;
}

.token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted {
  color: #b5bd68;
}

.token.operator, .token.entity, .token.url, .token.variable {
  color: #f8f8f2;
}

.token.atrule, .token.keyword {
  color: #81a2be;
}

.token.function {
  color: #f0c674;
}

.token.regex, .token.important {
  color: #8abeb7;
}
